* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden
}

body {}

section {
    width: 100vw;
    height: 100vh;
}

navcont {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
}

nav {
    position: fixed;
    left: 97%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
    justify-items: center;
    overflow: hidden;
}

#cont {
    height: 200vh;
    width: 80vw;
    border: 1px solid white;
    overflow-y: scroll;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
    z-index: 2;
    align-self: center;
    grid-column: 1;
}

.dot:hover {
    background-color: white;
    cursor: pointer;
}

#A {
    background-color: yellow;
}

#B {
    background-color: black;
}

#C {
    background-color: red;
}

#D {
    background-color: green;
}
