* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


@font-face {
    font-family: b1;
    src: url("../images/Barlow-BlackItalic.ttf");
}

@font-face {
    font-family: b2;
    src: url("../images/Barlow-ThinItalic.ttf");
}

@font-face {
    font-family: b3;
    src: url("../images/Barlow-Medium.ttf");
}

@font-face {
    font-family: b4;
    src: url("../images/Barlow-ExtraLight.ttf");
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: b1;
    font-size: 12vmax;
}

#open {
    color: white;
    background-color: black;
}

#main {
    color: black;
    background-color: white;
    height: 100vh;
    width: 700vw;
}

#main > div {
    overflow-x: scroll;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: b1;
    font-size: 12vmax;
}

#p {
    width: 100vw;
    height: 100vh;
}
