@font-face {
    font-family: 'AUTHENTICSans-150';
    src: url("../fonts/AUTHENTICSans-150.otf");
}

@font-face {
    font-family: 'AUTHENTICSans-90';
    src: url("../fonts/AUTHENTICSans-90.otf");
}

@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.bg {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/birdseye.jpg");
    background-size: cover;
    z-index: -1;
}

.header h1,
h2 {
    text-align: left;
    color: rgb(20, 20, 20);
    grid-column: 2/3;
    padding: 1vw;
}

.header h1 {
    font-family: 'AUTHENTICSans-150';
    font-size: 2vmax;
    white-space: nowrap;
    grid-row: 2/2;
}

.header h2 {
    font-family: 'AUTHENTICSans-90';
    font-size: 1vmax;
    grid-row: 3/3;
}

.textbox {
    width: 33vw;
    height: 100vh;
    background-color: #FFF8EA;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#house {
    margin-top: 2vw;
    width: 12vw;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1vw;
}


/*-----*/


.nav {
    position: fixed;
    width: 100vw;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 0vw;
    z-index: 3;
    padding: 1vw;
}

.nav:hover > #cont{
    margin-top: 0vw;
}

.nav a {
    text-decoration: none;
    color: white;
}

#cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -4vw;
    transition: all 1s ease-in-out;
}

#cont > div {
    /*links*/
    font-size: 1vmax;
    padding: .5vw;
    font-family: 'AUTHENTICSans-90';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

#cont > div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/*special cases*/

#home img {
    width: 30%;
    align-self: center;
}

#home:hover > img {
    filter: invert(100);
}

#cont > div:hover > a {
    color: black;
}



/*-----*/

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF8EA;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
}

#mob-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 1003;
    font-family: 'AUTHENTICSans-90';
    font-size: 3vmax;
    color: black;
    text-align: center;
}

#mob-cont img {
    margin-top: 5vh;
    width: 20vw;
    height: auto;
}

/*-----*/



.gallery {
    height: 350vh;
    width: 100%;
    background-image: url("../images/sky.png");
    background-size: cover;
    position: relative;
}

.gallery img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.gallery h3 {
    font-family: 'AUTHENTICSans-90';
    font-size: 1.5vw;
    color: white;
    text-align: center;
}

#G1,
#G2,
#G3,
#G4,
#G5,
#G6,
#G7,
#G8 {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 45vw;
    overflow: overlay;
}

#F1,
#F2,
#F3,
#F4,
#F5,
#F6,
#F7,
#F8 {
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}




#G1 {
    width: 40vw;
    height: 70vh;
    background-image: url(../images/fingers.jpg);
    background-size: cover;
    left: 10vw;
    top: 20vh;
}

#G1:hover > #F1 {
    opacity: .85;
    cursor: pointer;
}


#G2 {
    width: 30vw;
    height: 80vh;
    background-image: url(../images/gaze.jpg);
    background-size: cover;
    right: 5vw;
    top: 25vh;
}

#G2:hover > #F2 {
    opacity: .85;
    cursor: pointer;
}


#G3 {
    width: 40vw;
    height: 80vh;
    background-image: url(../images/mother.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 5vw;
    top: 100vh;
}

#G3:hover > #F3 {
    opacity: .85;
    cursor: pointer;
}


#G4 {
    width: 30vw;
    height: 60vh;
    background-image: url(../images/father.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 15vw;
    top: 120vh;
}

#G4:hover > #F4 {
    opacity: .85;
    cursor: pointer;
}

#G5 {
    width: 40vw;
    height: 60vh;
    background-image: url(../images/orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 10vw;
    top: 190vh;
}

#G5:hover > #F5 {
    opacity: .85;
    cursor: pointer;
}

#G6 {
    width: 40vw;
    height: 60vh;
    background-image: url(../images/lock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 8vw;
    top: 185vh;
}

#G6:hover > #F6 {
    opacity: .85;
    cursor: pointer;
}

#G7 {
    width: 40vw;
    height: 60vh;
    background-image: url(../images/land.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 6vw;
    top: 260vh;
}

#G7:hover > #F7 {
    opacity: .85;
    cursor: pointer;
}

#G8 {
    width: 30vw;
    height: 80vh;
    background-image: url(../images/dead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 10vw;
    top: 260vh;
}

#G8:hover > #F8 {
    opacity: .85;
    cursor: pointer;
}

/*-----*/

#book {
    position: fixed;
    display: none;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.page {
    z-index: 300;
    width: auto;
    height: 100vh;
    display: inline-block;
    padding-right: 5vw;
}

.page img {
    height: 100%;
    width: auto;
}

.exit {
    width: 3vw;
    padding: .5vw;
    color: white;
    background: rgb(20, 20, 20);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 400;
    text-align: center;
    font-family: 'AUTHENTICSans-90';
}

.exit:hover {
    opacity: .75;
    cursor: pointer
}






/*--s1--*/

.s1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 h1 {
    font-family: 'AUTHENTICSans-90';
    font-size: 4vmax;
    color: white;
}


/*--migration--*/

.migration {
    background-image: url(../images/sky3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#migration_header {
    font-family: 'AUTHENTICSans-90';
    font-size: 2vmax;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    padding-top: 2vw;
    transition: opacity .5s ease-in-out;
    color: white;
}



.slidecont {
    width: 60%;
    grid-row: 4;
    grid-column: 1/4;
    justify-self: center;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    overflow-x: visible;
}

.slideoverlay {
    width: 60%;
    grid-row: 4;
    grid-column: 1/4;
    justify-self: center;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: .125vw;
    background: rgb(20, 20, 20);
    overflow-x: visible;
    background-color: white;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 2vw;
    width: 2vw;
    border-radius: 10%;
    transform: rotate(45deg);
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 2vw;
    width: 2vw;
    border-radius: 10%;
    transform: rotate(45deg);
    background: white;
    cursor: pointer;
}

.slider:focus {
    outline: none;
}

#dot1 {
    margin-left: 1vw;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(20, 20, 20);
    background-color: white;
}

#dot2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(20, 20, 20);
    background-color: white;
}

#dot3 {
    margin-right: 1vw;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(20, 20, 20);
    background-color: white;
}

.dateoverlay {
    margin-top: 5vw;
    width: 61%;
    grid-row: 4;
    grid-column: 1/4;
    justify-self: center;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


#date {
    text-align: center;
    font-family: 'authenticSans-150';
    font-size: 1vmax;
    color: white;
}



:root {
    --RVal: 33%;
    --UVal: 66%;
}

#rural_container {
    grid-row: 2/4;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) var(--Rval, 33%), white 0);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vw;
}

#rural {
    width: 75%;
    height: auto;
}

#suburban_container {
    grid-row: 2/4;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) var(--Uval, 66%), white 0);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
}

#suburban {
    width: 75%;
    height: auto;
}

#rural_p {
    font-family: 'Cousine', monospace;
    font-size: 3vmax;
    color: #6D9CB3;
    opacity: .75;
    z-index: 3;
}

#suburban_p {
    font-family: 'Cousine', monospace;
    font-size: 3vmax;
    color: #6D9CB3;
    opacity: .75;
    z-index: 3;
}


/*--s2--*/

.s2 {
    width: 100%;
    height: 105vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 h1 {
    font-family: 'AUTHENTICSans-90';
    font-size: 4vmax;
    color: white;
}

/*--expansion--*/


.expansion {
    background-image: url(../images/arctic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}

#area {
    font-family: 'Cousine', monospace;
    font-size: 5vmax;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    transition: opacity .5s ease-in-out;
    color: white;
    align-self: start;
    padding: 1vw;
}

#expansion_header {
    font-family: 'AUTHENTICSans-90';
    font-size: 2vmax;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    transition: opacity .5s ease-in-out;
    color: white;
    align-self: end;
    padding: 1vw;
}

.icongrid {
    width: 60%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 1/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.tree {
    max-height: 50%;
    max-width: 13%;
    padding: .5vw;
}

.slider2 {
    align-self: end;
}


/*--effect--*/


.effect {
    background-image: url(../images/sky2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;

}

#effect_header {
    width: 75vw;
    font-family: 'AUTHENTICSans-90';
    font-size: 2vmax;
    text-align: center;
    padding-top: 3vw;
    transition: opacity .5s ease-in-out;
    color: white;
}

#status {
    width: 40vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

#status img {
    width: 50%;
    height: auto;
}

#buttoncont {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#buttoncont div {
    font-family: 'AUTHENTICSans-90';
    font-size: 1.5vmax;
    color: white;
    width: 2vw;
    overflow: visible;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#buttoncont input[type=radio] {
    cursor: pointer;
    background-color: crimson;
}


/*-- Development --*/

.dev {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 300vh;
    width: 100%;
    background-image: url("../images/sky.png");
    background-size: cover;
    position: relative;
}

.moodboard {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.wireframes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.mockups {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.dev img {
    width: 50%;
    height: auto;
    padding: 4vw;
}

.moodboard img {
    width: 90%;
    height: auto;
    padding: 4vw;
}

.dev h1 {
    margin: 2vw;
    font-family: 'AUTHENTICSans-90';
    font-size: 4vmax;
    color: white;
}




/* widescreen threshold i.e. below this width simulate a laptop / tablet*/
@media (max-width: 1200px) {

    .header h1,
    h2 {
        grid-column: 1/2;
        overflow-x: visible;
        margin-left: 2vw;
    }

    #house {
        grid-column: 1/2;
        overflow-x: visible;
        margin-left: 2vw;
    }

    #T1,
    #T2,
    #T3,
    #T4,
    #T5,
    #T6,
    #T7,
    #T8 {
        font-size: 1.25vw;
    }

    #G2 {
        right: 5vw;
        top: 25vh;
    }

    #migration_header {
        margin-top: 3vw;
    }

    #dot1 {
        width: 10px;
        height: 10px;
        margin-left: 0;
    }

    #dot2 {
        width: 10px;
        height: 10px;
    }

    #dot3 {
        width: 10px;
        height: 10px;
        margin-right: 0;
    }

}

/* mobile threshold i.e. display overlay until rotated / alternate device */
@media (max-width: 450px) {
    .mobile-overlay {
        display: block;
    }
}
