@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Oswald:700|Playfair+Display|Quicksand');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    min-height: 300vh;
    background-color: midnightblue;
}

#counter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 0%;
    transition: all .5s;
    border: 5px solid orangered;
    width: 40vw;
}

#counter > div {
    font-family: Oswald, sans-serif;
    color: orangered;
    font-size: 10vw;
    line-height: 9vw;
}

button {
    font-family: Oswald, sans-serif;
    color: white;
    background-color: orangered;
    min-width: 10vw;
    width: auto;
    border-radius: 25%;
    margin: 1vw;
    padding: .5vw;
    font-size: 4vw;
}

#num {
    font-family: Oswald, sans-serif;
    color: white;
    font-size: 2vw;
    position: fixed;
    left: 0;
    top:0;
}
