* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


@font-face {
    font-family: b1;
    src: url("../images/Barlow-BlackItalic.ttf");
}

@font-face {
    font-family: b2;
    src: url("../images/Barlow-ThinItalic.ttf");
}

@font-face {
    font-family: b3;
    src: url("../images/Barlow-Medium.ttf");
}

@font-face {
    font-family: b4;
    src: url("../images/Barlow-ExtraLight.ttf");
}



.dev {
    width: 100vw;
    height: auto;
    background-color: black;
}

.dev h1 {
    margin-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
    color: white;
    font-family: b1;
    font-size: 10vw;
}

#indi {
    width: 85%;
    height: auto;
    position: relative;
    margin-left: 5vw;
}

#indi2 {
    width: 50%;
    height: auto;
    position: relative;
    margin-left: 5vw;
    align-self: flex-start;
}

#devc {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#devc img {
    width: 40vw;
    height: auto;
    padding: 1vw;
}

#devc2 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#devc2 img {
    width: 40vw;
    height: auto;
    padding: 1vw;
}

video {
    width: 80vw;
    height: auto;
    padding: 1vw;
}

h2 {
    margin-left: 5vw;
    padding-bottom: 3vw;
    color: white;
    font-family: b3;
    font-size: 5vw;
}

#content {
    position: relative;
    width: 85%;
    height: auto;
    margin-left: 5vw;
    padding-bottom: 30vh;
}

#content2 {
    position: relative;
    width: 85%;
    height: auto;
    margin-left: 5vw;
    padding-bottom: 10vh;
}

p {
    color: white;
    font-family: b4;
    font-size: 2vw;
    line-height: 1.6;
}

#bio {
   display: flex;
   flex-flow: row nowrap;
   width: 90vw;
    
}
