* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: rgb(20,20,20);
}

#main {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    
}

#dr {
    width: 50%;
    height: 50vh;
    overflow: hidden;
}

#dr img{
    width: 100%;
    height: auto;
}

#vi {
    width: 33.333%;
    height: 50vh;
    overflow: hidden;
}

#row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50vh;
}

iframe{
  height:50vh !important;
  width: 50%;
}

#ov {
    width: 50%;
    height: 50vh;
    overflow: hidden;
}